@import 'tailwindcss';

[data-theme='latte'] {
  /* Base */
  --background: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;

  /* Surfaces */
  --surface-0: #ccd0da;
  --surface-1: #bcc0cc;
  --surface-2: #acb0be;

  /* Overlays */
  --overlay-0: #9ca0b0;
  --overlay-1: #8c8fa1;
  --overlay-2: #7c7f93;

  /* Text */
  --foreground: #4c4f69;
  --subtext-1: #5c5f77;
  --subtext-0: #6c6f85;

  /* Accent colors */
  --accent: #8839ef;
  --blue: #1e66f5;
  --green: #40a02b;
  --red: #d20f39;
  --yellow: #df8e1d;
  --peach: #fe640b;
  --teal: #179299;
  --sky: #04a5e5;
  --pink: #ea76cb;
  --lavender: #7287fd;
}

[data-theme='macchiato'] {
  /* Base */
  --background: #24273a;
  --mantle: #1e2030;
  --crust: #181926;

  /* Surfaces */
  --surface-0: #363a4f;
  --surface-1: #494d64;
  --surface-2: #5b6078;

  /* Overlays */
  --overlay-0: #6e738d;
  --overlay-1: #8087a2;
  --overlay-2: #939ab7;

  /* Text */
  --foreground: #cad3f5;
  --subtext-1: #b8c0e0;
  --subtext-0: #a5adcb;

  /* Accent colors */
  --accent: #c6a0f6;
  --blue: #8aadf4;
  --green: #a6da95;
  --red: #ed8796;
  --yellow: #eed49f;
  --peach: #f5a97f;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --pink: #f5bde6;
  --lavender: #b7bdf8;
}

* {
  font-family:
    'SF Pro', ui-sans-serif, system-ui, var(--font-geist-sans), sans-serif,
    'Apple Color Emoji', 'Noto Color Emoji';
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
